body {
    background-color: #123456;
    font-family: "Verdana", Geneva, sans-serif;
    margin: 50px;
    padding: 0px;
}

h1 {
    color: #398561;
    font-size: 36pt;
}

li {
    background-color: #131322;
    color: #FFF;
    border: 2px solid #044;
    font-size: 24px;
    text-align: left;
    color: #10A2EE;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    float:left;
}

article {
    float: left;
}
